# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Biometric/test data
data/
images/
test_images/
face_data/

# System files
.DS_Store