__pycache__/
*.pyc
.ipynb_checkpoints/

*.db
*.sqlite
*.sqlite3

.env
venv/
.venv/

images/
test_images/
face_data/
*.jpg
*.jpeg
*.png

.DS_Store

.venv/
data/*.db
data/*.sqlite
__pycache__/
*.pyc
.streamlit/